html,
body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

ul li:last-child {
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button,
label {
    cursor: pointer;
}

input,
button,
textarea {
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input::placeholder {
    color: inherit;
}

button {
    cursor: pointer;
}

input,
textarea {
    display: block;
    resize: none;
}

body {
    color: #414536;
    font-family: "DM Sans", arial;
    font-size: 18px;
    line-height: 28px;
    /* 155.556% */
}
header{
    width: 1440px;
    height: 119px;
    flex-shrink: 0;
}
.container{
    margin: 32px 110px 33px 110px;
    justify-content: center;
    align-items: center;
}
.head {
    display: flex;
width: 492px;
height: 32.422px;
padding: 0.219px 0px 0.203px 0px;
justify-content: center;
align-items: flex-start;
gap: 40px;
}
.sedep{
    display: flex;
height: 54px;
padding-left: 32px;
justify-content: flex-end;
align-items: center;
gap: 24px;
}

section {
    padding: 100px 0;
}
.color {
    color: #be963f;
}

.dib {
    display: inline-block;
}

.hover {
    transition: 0.3s;
}

.hover:hover {
    color: #be963f;
}
.menu a {
    padding: 4px 16px;
    margin-right: 8px;
    color: #2c2f24;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 34px;
    transition: 0.3s;
}

.menu li:last-child a {
    margin-right: 0;
}
.zamok{
    width: 32px;
height: 34px;
flex-shrink: 0;
}
.menu a:hover {
    background: #dbdfd0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.head{
    display: flex;
    width: 492px;
    height: 32.422px;
    padding: 0.219px 0px 0.203px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.head_left{
    display: flex;
    height: 32.422px;
    padding: 0.219px 0px 0.203px 0px;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.link {
    transition: 0.3s;
}

.link:hover {
    box-shadow: 0px 6px 5px 2px #836a36;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btnimg{
    display: flex;
    height: 54px;
    padding-left: 32px;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}
.help_left{
    width: 52%;
    margin-right: 50px;
    margin-top: 250px;
}

.help{
    width: 1440px;
    height: 869px;
    flex-shrink: 0;
    margin-top: 100px;
}
.sedep{
    display: flex;

}
.giving{
    width: 609.703px;
    height: 397px;
    flex-shrink: 0;
}
.giv_tit{
    width: 603px;
    color: #090909;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 79.98px;
    margin-bottom: 16px;
    letter-spacing: -2px; /* 133.3% */
}
.poloska{
    width: 140px;
    margin-top: 32px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 99999px;
    background: #FF9C08;
    margin-bottom: 25px;
}
.giv_txt{
    width: 597px;
    color: #6E6E6E;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37.992px;
    margin-bottom: 43px;
}
.btns{
    display: inline-flex;
    padding-right: 176.703px;
    align-items: flex-start;
    gap: 28px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF9C08;
}
.btnn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 73px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #F0ECE8;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(43, 43, 43, 0.04);
}
.help_right{
    width: 677px;
    height: 869px;
    flex-shrink: 0;
    background: url(/img/baby.jpg), lightgray 50% / cover no-repeat;
    margin-top: 340px;
}
.many{
    width: 1500px;
    height: 316px;
    flex-shrink: 0;
    background: #FEF9F2;
    margin: -50px;
}
.containerr{
    display: flex;
    width: 1268px;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 72px;
    justify-content: space-around;
    margin-left: 110px;
    margin-bottom: 72px;
}
.cards{
    display: flex;
    justify-content: space-around;
    width: 1220px;
    height: 109px;
    align-items: flex-start;
    gap: 28px;
}
.card{
    width: 284px;
    height: 109px;
    /* gap: 28px; */
}
.san{
    width: 85px;
    color: #090909;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 79.98px;
}
.sann{
    width: 55px;
    color: #090909;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 79.98px; /* 142.821% */
}
.sannn{
    width: 55px;
    color: #090909;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 79.98px;
}
.m{
    width: 60px;
    color: #FF9C08;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 79.98px;
    margin-right: 130px;
}
.humans{
    width: 170px;
    color: #6E6E6E;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 110% */
}
.humanss{
    width: 205px;
    color: #6E6E6E;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 110% */
}
.hummans{
    width: 94px;
    color: #6E6E6E;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 110% */
}
.mm{
    width: 60px;
    color: #FF9C08;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 79.98px;
    margin-right: 165px;
}
.polooska{
    width: 1220px;
height: 1px;
background: #DAD1CA;
margin-bottom: 200px;
}
.support{
    width: 1440px;
    height: 1669px;
    flex-shrink: 0;
    background: #FEF9F2;
}
.about{
    color: #FF9C08;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 110% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.left_tit{
    width: 517px;
    color: #090909;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.002px;
    margin-bottom: 17px; /* 138.1% */
}
.left_txt{
    width: 576px;
    color: #6E6E6E;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.006px;
    margin-bottom: 56px;
}
.big{
    width: 596px;
height: 530px;
flex-shrink: 0;
    margin-bottom: 32px;
    border-radius: 10px;
}
.small{
    width: 596px;
height: 391px;
flex-shrink: 0;
    border-radius: 10px;
}
.btnss{
    display: flex;
height: 73px;
padding-left: 235px;
justify-content: flex-end;
align-items: flex-start;
gap: 28px;
flex-shrink: 0;
margin-bottom: 48px;
}
.bbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF9C08;
}
.bb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 73px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #F0ECE8;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(43, 43, 43, 0.04);
}
.big_right{
}
.rightimg{
    width: 596px;
    height: 749px;
    flex-shrink: 0;
    border-radius: 10px;
    background: url(/img/ura.jpg), lightgray 50% / cover no-repeat;
    margin-left: 28px;
    margin-bottom: 48px;
}
.right_text{
    display: flex;
width: 584px;
padding-top: 2.781px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 20.219px;
}
.txt_r{
    display: flex;
    width: 580px;
    color: #6E6E6E;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30.006px; 
margin-left: 28px;
}
.icon_img{
    width: 26px;
    height: 26px;
    margin-right: 16px;
}
.icon{
    margin-left: 28px;
}
.look{
    width: 1440px;
height: 1027px;
}
.look_big{
    display: inline-flex;
height: 688.375px;
padding: 0.063px 0px 0.313px 0px;
justify-content: center;
align-items: center;
gap: 116px;
flex-shrink: 0;
}
.look_left{
    width: 520px;
height: 509px;
}
.p_orange{
    color: #FF9C08;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 110% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.look_tit{
    width: 449px;
    color: #090909;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.002px;
    margin-bottom: 28px;
}
.image{
    width: 520px;
height: 180px;
flex-shrink: 0;
}
.images{
    display: flex;
    height: 76px;
    padding-right: 29px;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    margin-bottom: 30px;
}
.image{
    width: 76px;
    height: 76px;
}
.som{
    width: 102px;
    color: #090909;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 44.004px;
    margin-bottom: 8px; /* 115.8% */
}
.somm{
    display: flex;
width: 125px;
height: 76px;
padding-bottom: 4.625px;
flex-direction: column;
align-items: flex-start;
gap: 9px;
}
.liters{
    color: #6E6E6E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.998px; /* 111.1% */
}
.look_cards{
    width: 520px;
height: 180px;
flex-shrink: 0;

}
.look_right{
    width: 584px;
height: 688px;
border-radius: 10px;
background: url(/img/IMAGE\ \(5\).jpg), lightgray 50% / cover no-repeat;
}
.over{
    width: 1440px;
    height: 864px;
    flex-shrink: 0;
    background: #FFD4A4;
}
.over_top{
    width: 780px;
height: 267px;
flex-shrink: 0;
margin-left: 220px;
}
.overtit{
    color: #090909;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 110% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.over_tit{
    width: 752px;
    color: #090909;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.002px;
    margin-bottom: 38px; /* 138.1% */
}
.bbbtn{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #090909
}
.btnsss{
    display: flex;
width: 780px;
justify-content: center;
align-items: flex-start;
gap: 28px;
/* margin-top: 160px; */
}
.over_button{
    width: 1440px;
flex-shrink: 0;
}
.img_center{
    width: 1220px;
    height: 688px;
    flex-shrink: 0;
    border-radius: 57px;
    background: rgba(0, 0, 0, 0.40);
    margin-top: -500px;
    margin-bottom: 80px;
}

.img_center img {
    border-radius: 55px;
}
.txt_butt{
    display: inline-flex;
height: 162px;
justify-content: center;
align-items: flex-start;
gap: 48px;
flex-shrink: 0;
}
.txt_butt1{
    display: flex;
    width: 596px;
    padding-right: 26px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 11px;
}
.goal{
    color: #090909;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34.008px; /* 141.7% */
}
.metus{
    width: 570px;
    color: #6E6E6E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.006px; /* 166.7% */
}
.ass_tit{
    width: 571px;
    color: #090909;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 58.002px; /* 138.1% */
}
.assits_top{
    margin-bottom: 64px;
}
.ass_cards{
    width: 1220px;
    height: 900px;
}
.ass_card{
    width: 388px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #F0ECE8;
    background: #FFF;
    box-shadow: 0px 2px 12px 0px rgba(43, 43, 43, 0.06);
    margin-bottom: 15px;
}
.ass_img{
    width: 172px;
height: 172px;
flex-shrink: 0;
margin: 57px 108px 221px 108px ;
}
.ass_text{
    margin-top: -200px;
}
.asss_tit{
    color: #090909;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700; 
    line-height: 34.008px;
    margin-bottom: 11px;
    margin-left: 100px;
}
.ass_txt{
    width: 312px;
    color: #6E6E6E;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.006px;
    margin-left: 40px;
}
.asss_tits{
    color: #090909;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700; 
    line-height: 34.008px;
    margin-bottom: 11px;
    margin-left: 135px;
}
.joun{
    width: 1440px;
    flex-shrink: 0;
}
.yellow{
    width: 1220px;
    height: 436px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #FF9C08;
}
.joun_center{
    display: flex;
width: 1100px;
padding-right: 0.016px;
align-items: center;
gap: 158.453px;
margin-left: 60px;
}
.j_tit{
    width: 487px;
flex-shrink: 0;
color: #090909;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 58.002px;
margin-top: 160px;
}
.btnssss{
    display: flex;
width: 780px;
justify-content: center;
align-items: flex-start;
gap: 28px;
margin-top: 160px;
}
.see{
    width: 1440px;
height: 1087px;
flex-shrink: 0;
background: #FEF9F2;
}
.see_left{
    width: 624.375px;
height: 686.734px;
flex-shrink: 0;
margin-top: 100px;
position: relative;
}
.big_see{
    display: flex;
width: 1220px;
padding-right: 0.016px;
justify-content: center;
align-items: center;
gap: 57.609px;
}
.img_b{
    width: 574px;
height: 635px;
flex-shrink: 0;
border-radius: 12px;
background: url(/img/sister.jpg), lightgray 50% / cover no-repeat;
}
.white{
    width: 388px;
    height: 298px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #F0ECE8;
    background: #FFF;
    box-shadow: 0px 2px 12px 0px rgba(43, 43, 43, 0.06);
    position: absolute;
    right: 0;
    bottom: 0; 
}
.see_right{
    display: flex;
width: 538px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
flex-shrink: 0;
}
.see_tit{
    width: 435px;
    color: #090909;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 58.002px; /* 138.1% */
}
.see_txt{
    width: 509px;
    color: #6E6E6E;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 30.006px; /* 176.506% */
}
.texttq{
    color: #090909;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 110% */
}
.bbttn{
    margin-top: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF9C08;
}
.read{
    width: 1440px;
height: 1200px;
}
.big_read{
    width: 1268px;
height: 836.25px;
flex-shrink: 0;
}
.read_top{
    display: flex;
    width: 1220px;
    padding: 0px 392px 0px 393px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
}
.seee_tit {
    color: #090909;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.002px;
    margin-bottom: 49px; /* 138.1% */
}
.read_img{
    display: flex;
width: 1220px;
height: 555.25px;
justify-content: center;
align-items: flex-start;
gap: 28px;
flex-shrink: 0;
}
.img_read1{
    width: 596px;
height: 555.25px;
flex-shrink: 0;
position: relative;
}
.white1{
    width: 548px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #F0ECE8;
    background: #FFF;
    box-shadow: 0px 2px 12px 0px rgba(43, 43, 43, 0.08);
    position: absolute;
    right: 0;
    bottom: 0; 
    margin-right: 50px;
    margin-bottom: 73px;
}
.white_top{
    width: 450.313px;
height: 48px;
flex-shrink: 0;
margin: 49px 48px 202px 49px;
}
.white_btn{
    width: 103px;
height: 48px;
flex-shrink: 0;
border-radius: 6px;
border: 1px solid #F0ECE8;
background: #FFF;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 17px;
}
.white_txt{
    color: #6E6E6E;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 19.998px;
margin-right: 230px;
margin-top: 13px;
}
.white_tit{
    width: 418px;
    color: #090909;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 34.008px;
 margin-bottom: 32px;
}
.wh_tit{
    width: 45px;
    color: #090909;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.998px; /* 111.1% */
}
.read_buttom{
    width: 1220px;
height: 73px;
flex-shrink: 0;
}
.txt_white{
    width: 304px;
    color: #6E6E6E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.006px; 
    margin-bottom: 17px;
    /* 166.7% */
}
.tit_white{
    color: #989898;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 19.998px; /* 117.635% */
}
.big_wh{
    margin: 68px 43px 70px 41px;
}
.txt_tit{
    color: #090909;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 19.998px;
margin-bottom: 15px; /* 111.1% */
}
.footer{
    width: 1440px;
height: 751px;
flex-shrink: 0;
background: #FEF9F2;
}
.footer_top{
    width: 1220px;
height: 364px;
flex-shrink: 0;
}
.footer_buttom{
    width: 1220px;
height: 101px;
flex-shrink: 0;
}
.img_foot{
    width: 239px;
height: 38px;
flex-shrink: 0;
margin-bottom: 27px;
}
.foot_txt{
    width: 336px;
    color: #3F3F3F;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30.006px; /* 166.7% */
}
.footer_nav{
    width: 149px;
height: 364px;
flex-shrink: 0;
}
.footer_nav1{
    width: 204px;
height: 364px;
flex-shrink: 0;
}
.footer_right{
    width: 388px;
height: 364px;
flex-shrink: 0;
border-radius: 14px;
background: #FF9C08;
}
.foot_btn{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 292px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #090909;
}
.footer_tit{
    width: 282px;
    color: #090909;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34.008px; /* 141.7% */
}